{% extends "@Reuniounou/Default/template.html.twig" %}
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Reunionou</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('application_homepage') }}">Accueil</a>
            </li>
        {% if id == null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('connexion') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
            <center><h2 class="form-signin-heading">Consultation des événements</h2></center><br>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Lien</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.titre }}</td>
                <td>{{ event.description | nl2br }}</td>
                <td><a href="{{ path('show_event', {token: event.tokenInvitation}) }}">{{ path('show_event', {token: event.tokenInvitation}) }}</a></td>
            </tr>
        {% endfor %}
    </table>
	</div>
	</div>
{% endblock %}
