{% extends "@Reuniounou/Default/template.html.twig" %}
{% block body %}
	{% if error != null %}
		{{ erreur }}
	{% endif %}
    <link href="{{ asset('css/signup.css') }}" rel="stylesheet">
    <div class="container">
        <div class="form-signup" id="form">
            <img src="{{ asset('pictures/logo1texte.PNG') }}" class="img-fluid" >
            <h2 class="form-signup-heading">Inscription</h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
