{% extends "@Reuniounou/Default/template.html.twig" %}

{% block body %}

    <link href="{{ asset('css/signup.css') }}" rel="stylesheet">

    <title class="badge-light">REUNIONOU - inscription - {{ id }}</title>

    <div class="container-fluid">
        <div class="form-signup" id="form">

            <h1 style="text-align:center"> REUNIONOU </h1><br>

            <h2 class="form-signup-heading">Inscription</h2>

            {{ form_start(form) }}<br>
            <center>
            {{ form_widget(form) }}
            </center>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
