{% extends "@Reuniounou/Default/template.html.twig" %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Reunionou</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('application_homepage') }}">Accueil</a>
  </li>
  {% if id == null %}
  <li class="nav-item">
    <a class="nav-link" href="{{ path('connexion') }}">Connexion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
  </li>
  {% endif %}
</ul>
</div>
</nav>

{% endblock %}

{% block body %}

<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

<style>
        body {

            background-color: slategrey;
        }

  .form-control
  {
    padding-top: 40px;
	  padding-bottom: 40px;
  }

</style>

<div class="container-fluid">

	<title class="badge-light">REUNIONOU - Index</title>

	<div class="container-fluid">

		<div class="form-signin" id="form">

			<h1 style="text-align:center"> REUNIONOU </h1><br>

      {% if prenom != null %}
        <h3 class="form-signin-heading">Bienvenue {{ prenom }}</h3>
			{% else %}
        <h3 class="form-signin-heading">Bienvenue</h3>
      {% endif %}

			<center>
        {% if id != null %}
      		<a class="btn btn-primary" href="event/create">Creer</a>
          <a class="btn btn-primary" href="/event/{token}">Gérer</a>
        {% else %}
          <a class="btn btn-primary" href="/event/{token}">Gérer</a>
        {% endif %}


			</center>

		</div>
	</div>
</div>

{% endblock %}
