{% extends "@Reuniounou/Default/template.html.twig" %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Reunionou</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('application_homepage') }}">Accueil</a>
            </li>
        {% if id == null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('connexion') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}

{% block body %}

<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

<style>
        body {

            background-color: slategrey;
        }

  .form-control
  {
    padding-top: 40px;
	  padding-bottom: 40px;
  }

</style>

<div class="container-fluid">

	<title class="badge-light">REUNIONOU - Index</title>

	<div class="container-fluid">

		<div class="form-signin" id="form">
      {% if prenom != null %}
        <center><h3 class="form-signin-heading">Bienvenue {{ prenom }}</h3></center><br>
            
			{% else %}
        <center><h3 class="form-signin-heading">Bienvenue</h3></center><br>
            <p>Bienvenue sur l'application originale Reunionou ! <br>Tu désires créer ton évènement et ramener tous tes potes ? C'est facile.<br> Il te suffit de t'inscrire ou te connecter si c'est déjà fait.<br> Tu n'en as pas envie ? Alors tu peux simplement consulter les évènements ;)</p>
      {% endif %}
            <br>
			<center>
        {% if id != null %}
      		<a class="btn btn-primary" href="event/create">Créer un événement</a>
          <a class="btn btn-primary" href="/event/{token}">Consulter les événements</a>
        {% else %}
          <a class="btn btn-primary" href="/event/{token}">Consulter les événements</a>
        {% endif %}


			</center>

		</div>
	</div>
</div>

{% endblock %}
